<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= user.name %> Welcome to <%= title %></p>


    <button onclick="window.location='/lastFm/userrecentracks'"> Recent Tracks </button>
    <button onclick="window.location='/lastFm/topartists'"> Top Artist </button>


  </body>
  <script type="text/javascript" src="/javascripts/lastFmView.js"></script>

  <script type="text/javascript">
 	loadData(<%- JSON.stringify(data) %>)

  </script>
</html>
