<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button onclick="window.location='/lastFm/userrecentracks'"> Recent Tracks </button>
    <button onclick="window.location='/lastFm/topartists'"> Top Artist </button>

  </body>
<script type="text/javascript">

  var topTracks = <%- JSON.stringify(lastFmDataTracks) %>;
  console.log(topTracks);

  var topArtist = <%- JSON.stringify(topArtistList) %>;
  console.log(topArtist);

</script>
</html>
